<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.rfid.demo.sdksample">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/briot1"
        android:label="@string/app_title"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/briot1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.ScanCompareTagActivity"
            android:label="@string/scan_compare_activity_title"
            />
        <activity android:name=".ReadTagActivity"
            android:label="@string/read_tag_activity_title"/>
        <activity android:name=".DisplayDbActivity" />
        <activity android:name=".ScanVinPinActivity"
            android:label="@string/write_tag_operation_title"/>
        <activity
            android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/main_activity_title"/>
        <activity android:name=".PinVinnActivity"
            android:label="@string/pinn_vinn_activity_title"/>
        <activity android:name=".view.LogoutActivity"
            android:label="Logout"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".view.SettingActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"/>

    </application>

</manifest>